<div ng-controller="loginCtrl">   
    <form ng-submit="send()">
        <div class= "top"><h2>Login</h2>
        
            <p>User Name: <input ng-model= "userName"></p>
            
            <p>Password: <input ng-model= "password"></p>
            <input value="Submit" id="submit" type="submit">

      <p>  Preview User: {{userName}}   {{password}}  </p>
       <p> Sent/Recieved: {{user.userName}}  {{pass.password}}</p>
       
        </div>
    </form>
    
    <div>
        <h2>Not a user? Register NOW!!!</h2>
        <form ng-submit="send()">
            <p>Name: <input ng-model= "nameInput"></p>
                <p>User Name: <input ng-model= "NuserName"></p>
                <p>Password: <input ng-model= "Npassword"></p>
                <p>Zip Code: <input ng-model= "zip"></p>

                 <input value="Submit" id="submit" type="submit">
        </form>
    </div>
<br>
    
    <a href= "#/Home"><img ng-src= "img/skip_forward.png"></a> 
</div>
 