<!-- each partial has a controller
-->

<div class = "body">
    <h1>More</h1>    
   <h2>Partners</h2>
    <ul>
        <li>Cokeral Butterfly Center</li>
        <li>Houston Auduvon</li>
        <li>Garden Club of Houston</li>
        <li>Katy Prairie Conservancy</li>
        <li>Houston Arboretum and Nature Center</li>
        <li>Texas Parkes and Wildlife</li>
        <li>Texas Forest Service</li>
        <li>Urban Harvest</li>
        <li>Native Plant Society</li>
        <li>Mercer Arboretum</li>
        <li>Texas A&M AgriLife Extension</li>
        <li>Houston Chronicle</li>
    </ul>
    
    
    <h4>A Definition List:</h4>
<dl>
  <dt>Coffee</dt>
  <dd>- black hot drink</dd>
  <dt>Milk</dt>
  <dd>- white cold drink</dd>
</dl>
 

</div>
